:root {
  --special: #1271df;
}
body {
  font-family: "Lato";
  font-size: 22px;
  margin-left: 40px;
  margin-bottom: 50px;
}
p {
  font-size: medium;
  margin: 5px;
  width: 400px;
}
h2 {
  font-size: larger;
  margin-bottom: 5px;
}
.task-block {
  margin-bottom: 40px;
}
.special-text {
  color: var(--special);
}
.box {
  height: 40px;
  width: 40px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}
.red-box {
  background-color: red;
}

.green-box {
  background-color: green;
}
.validation-error-text {
  color: red;
  font-size: small;
}
.validation-error-input {
  border-color: red;
}
.valid-registration {
  background-color: green;
  width: 400px;
  color: white;
  padding: 10px;
  text-align: center;
  animation: fadeIn ease-in 0.5s backwards;
}
.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 300px;
  gap: 10px 10px;
  grid-template-areas:
    "display display display clear"
    "btn1 btn2 btn3 div-btn"
    "btn4 btn5 btn6 mult-btn"
    "btn7 btn8 btn9 sub-btn"
    "btn0 point-btn equal-btn sum-btn";
}
.calculator-button {
  padding: 15px;
  font-size: large;
  font-weight: 700;
  background-color: #007bff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.calculator-button:hover {
  background-color: #0056b3;
}
.calculator-display {
  grid-area: display;
  text-align: right;
  padding-right: 10px;
  font: inherit;
}
.calculator-button-clear {
  grid-area: clear;
}
.calculator-button-1 {
  grid-area: btn1;
}
.calculator-button-2 {
  grid-area: btn2;
}
.calculator-button-3 {
  grid-area: btn3;
}
.calculator-button-divide {
  grid-area: div-btn;
}
.calculator-button-4 {
  grid-area: btn4;
}
.calculator-button-5 {
  grid-area: btn5;
}
.calculator-button-6 {
  grid-area: btn6;
}
.calculator-button-multiply {
  grid-area: mult-btn;
}
.calculator-button-7 {
  grid-area: btn7;
}
.calculator-button-8 {
  grid-area: btn8;
}
.calculator-button-9 {
  grid-area: btn9;
}
.calculator-button-substract {
  grid-area: sub-btn;
}
.calculator-button-0 {
  grid-area: 0btn;
}
.calculator-button-point {
  grid-area: point-btn;
}
.calculator-button-equal {
  grid-area: equal-btn;
}
.calculator-button-sum {
  grid-area: sum-btn;
}

.product {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.product-list {
  list-style: none;
  display: flex;
  max-width: 800px;
  gap: 20px;
  flex-wrap: wrap;
}
.cart-list{
  list-style: none;
  display: flex;
  gap: 20px;
  max-height: 400px;
  overflow: auto;
  flex-wrap: wrap;
  padding: 0;
}
.cart-item{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.cart-item p{
  width: 100%;
  text-align: center;
}
.add-to-cart,
.cart-button {
  background-color: #007bff;
  font: inherit;
  font-size: medium;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-to-cart:hover,
.cart:hover {
  background-color: #0056b3;
}
.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #007bff;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-show {
  display: block;
}
